<!-- navigation menu -->
{{#link-to "admin" tagName='li'}}<a {{bind-attr href="view.href"}}><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Back to home</a>{{/link-to}}
<li class="nav-header">General</li>
{{#link-to "admin.users" tagName='li'}}<a {{bind-attr href="view.href"}}><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users </a>{{/link-to}}
